/* ----------------------------- 
        PRE NAV
----------------------------- */

nav {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 4;
}

h1 {
  margin: 0;
}

.nav-link {
  text-decoration: none;
}

.nav-link p {
  margin: 0;
  height: 14px;
}

.pre-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4vh $padding-side;
}

.pre-nav .nav-link,
footer .nav-link {
  display: flex;
  align-items: center;
  width: 200px;
}

.nav-link > *:first-child {
  padding-right: 30px;
}

.nav-link:last-child {
  justify-content: right;
}

/* ----------------------------- 
        NAV
----------------------------- */

nav {
  border: solid white;
  border-width: 1.5px 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

nav .nav-link {
  padding: 2vh 0;
  margin: 0 50px;
  height: 100%;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}

// Laser border
// nav .nav-link:after {
//   content: "";
//   box-shadow: 0px 0px 6px rgba(250, 222, 75, 0.7), 0px 0px 4px #fade4b;
// }

nav .nav-link:not(.arrow):hover,
nav .nav-link.active {
  border-bottom: 3px solid white;
}

nav .arrow {
  margin: 0;
  position: absolute;
  left: $padding-side;
}
