.loading-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
}

.loading-card {
  height: 290px;
  border-radius: 25px;
  position: relative;
}

.loading-card:before,
.loading-card:after {
  content: "";
  position: absolute;
  border-radius: 25px;
}

.loading-card:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(transparent 45%, #474747 100%);
}

.loading-card:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(23, 23, 23) 30%, black 100%);
  z-index: 2;
}
