.image-side {
  // height: $main-height;
  height: 100%;
  position: sticky;
  top: calc($nav-height + $padding-top);
  flex: 1;
  padding-right: 40px;
}

.image-side img {
  border: 1px solid white;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}

/* ----------------------------- 
        INFO
----------------------------- */

.info-side {
  flex: 1;
  padding-left: 40px;
}

.info-side p {
  font-size: 13px;
  margin: 0;
  line-height: 1.4;
}

.grid,
h3,
.pilots,
.films {
  padding-top: 35px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-info h1 {
  font-size: 40px;
  font-weight: 700;
}

.main-info h2 {
  font-size: 20px;
  font-weight: 100;
}

.border-bottom {
  position: relative;
}

.border-bottom:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  background: linear-gradient(to right, white, transparent);
  height: 1px;
}

.grid > * {
  margin-bottom: 18px;
  margin-right: 25%;
}

.info-title {
  font-weight: 700;
}

.info-content {
  font-weight: 100;
}

/* ----------------------------- 
        PILOTS & FILMS
----------------------------- */

.pilots,
.films {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  margin: 0;
}

.pilot img,
.films img {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}

.pilots .info-content,
.films .info-content {
  text-align: center;
  width: 90px;
  margin: 0 10px;
}

.pilot:first-of-type .info-content,
.film:first-of-type .info-content {
  margin-left: 0;
}
