@font-face {
  font-family: "DINNext";
  font-weight: 900;
  src: url("../assets/fonts/DINNextW1G-Black.woff2") format("woff2");
}

@font-face {
  font-family: "DINNext";
  font-weight: 700;
  src: url("../assets/fonts/DINNextW1G-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DINNext";
  font-weight: 400;
  src: url("../assets/fonts/DINNextW1G-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "DINNext";
  font-weight: 100;
  src: url("../assets/fonts/DINNextW1G-UltraLight.woff2") format("woff2");
}
