@import "_fonts";
@import "_variables";

@import "components/_header";
@import "components/_ship";
@import "components/_shiplist";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DINNext", Helvetica;
  font-weight: 400;
  background-color: black;
}

* {
  color: white;
}
